/* Common Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    position: relative;
    display: inline-block;
}

h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 50px;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

p {
    line-height: 1.6;
    margin-bottom: 1rem;
}

.btn {
    display: inline-block;
    background-color: var(--accent-color);
    color: white;
    padding: 0.9rem 1rem;
    border-radius: 30px;
    margin-right: 10px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 113, 227, 0.4);
}

.btn:hover {
    background-color: #0062c2;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 113, 227, 0.5);
}

.text-center {
    text-align: center;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-4 {
    margin-bottom: 4rem;
}